colorama==0.4.5
datasets
networkx==2.8.8
ripserplusplus==1.1.2
scikit-learn
scipy
shap==0.41.0
tokenizers==0.13.0
transformers @ git+https://github.com/huggingface/transformers@fa4eeb4fd342cdbad50d1eeacdd7d7d7bc23b080
urllib3==1.26.12